.aboutMeBackgroundColor{
    background-color: #f5f5f5;
}

.aboutMeVideo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

    .aboutMeTitle{
        justify-content: center;
        display: flex;
        margin-bottom: 20px;
        font-size: 50px;
        text-align: center;
    }

    iframe{
        margin-bottom: 40px;
        width: 515px;
        height: 360px;
    }
    
    .aboutMe-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .aboutMeContent{
            width: 55%;
            margin-left: 50px ;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .aboutMeText{
                margin-bottom: 25px;

                h2{
                    margin-bottom: 10px;
                    font-size: 30px;
                }

                p{
                    margin-bottom: 5px;
                }
            }

        }

    }

    .imgAbout{
        img{
            max-height: 360px;
            border-radius: 25px;
        }
    }

    .aboutMe-footer{
        .btnAbout{
            display: inline-block;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: black;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

.myVideo{
    margin-right: 25px;
    margin-left: 25px;
}

@media only screen and (max-width: 700px) {
    
    .aboutMeVideo{
        margin-left: 25px;
        margin-right: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .aboutMeTitle{
            justify-content: center;
            display: flex;
            margin-bottom: 20px;
            font-size: 50px;
        }
        
        .aboutMe-container{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
    
            .aboutMeContent{
                display: flex;
                margin-left: 0;
                width: 100%;
                flex-direction: column;
                justify-content: center;
    
                .aboutMeText{
                    margin-bottom: 25px;
    
                    h2{
                        margin-bottom: 10px;
                        font-size: 30px;
                    }
    
                    p{
                        margin-bottom: 5px;
                    }
                }
    
            }
    
        }
    
        iframe{
            margin-bottom: 40px;
            width: 320px;
            height: 200px;
        }
    
        .aboutMe-footer{
            .btnAbout{
                display: inline-block;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: black;
                color: white;
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    
        
}